<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anonymouscharityapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnonymousCharityApp">
        <activity
            android:name=".CompletedEvent"
            android:exported="true" />
        <activity
            android:name=".Volunteers"
            android:exported="true" />
      <activity
            android:name=".OngoingEvents"
            android:exported="true"/>
        <activity
            android:name=".HelpCenter"
            android:exported="true" />
        <activity
            android:name=".PrivacyPolicy"
            android:exported="true" />
        <activity
            android:name=".Settings"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".SlipUploard"
            android:exported="true" />
        <activity
            android:name=".CardDetails"
            android:exported="true" />
        <activity
            android:name=".PaymentMethod"
            android:exported="true" />
        <activity
            android:name=".home"
            android:exported="true" />
        <activity
            android:name=".Donations"
            android:exported="true" />
        <activity
            android:name=".Blog"
            android:exported="true" />
        <activity
            android:name=".Registeruser"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Request"
            android:exported="true"/>
        <activity
            android:name=".Contactus"
            android:exported="true"/>
        <activity
            android:name=".Feedback"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>